/* common css which is need all section in this webpage start here */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.title_primary{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.common_clr{
    color: #F00;
}
.primary_title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 15px 0px 20px 0px;
}
/* common css which is need all section in this webpage end here */

/* banner css part start here */
.banner{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 170px 0px;
}

.banner_head{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
/* banner css part end here */

/* all categories css start here */
.category{
    margin: 50px 0px;
}
.category, .category_title{
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.category p{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
}
.category_title{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.category_img{
    padding: 30px 0px 120px 0px;
}
.category_img img{
    width: 800px;
}
/* all categories css end here */

/* midnight party section css start here */
.mid_night_party{
    padding-bottom: 100px;
}
.mid_night_img{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mid_party_title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding: 125px 500px 24px 125px;
}
.mid_party_description{
    width: 650px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding-left: 125px;
}
.btn_primary{
    color:white;
    background-color:#F00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}
.btn{
    margin:45px 0px 15px 140px ;
}


/* midnight party section css end here */

/* party part start here */
.party{
 background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
 height: 350px;
 text-align: center;
 margin-bottom: 100px;
 

}
.party_place{
    padding-top: 100px;
    font-size: 28px;
    font-weight: 600px;
    
}
.party_date{
    padding: 10px 0;
    font-size: 28px;
    font-weight: 600px;
    
}
.party_time{
    font-size: 28px;
    font-weight: 600px;
    padding-bottom: 50px;
    
}

/* party part end here */


/* bonus part css start here */
.bonus_container{
    display: flex;
    justify-content: space-between;
}
.bonus_part{
    background: #ffff;
    padding-bottom: 100px;
}
.offer_title{
    font-size: 24px;
    font-weight: 500;
    padding-top: 65px;
}
.bonus_offer h2{
    font-size: 48px;
    color: #070211;
    font-weight: 900;
    padding: 10px 0;
}
.bonus_offer p{
    color: rgba(7, 2, 17, 0.60);
    width: 400px;
    font-size: 20px;
    font-weight: 400;
}
.bonus_description h2{
    font-size: 48px;
    font-weight: 700;
    padding-top: 65px;
}
.bonus_description P{
    width: 250px;
    color: rgba(7, 2, 17, 0.60);
    width: 400px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 0;
}
.bonus_img img{
    width: 355px;
    height: 345px;
    border-radius: 50%;
    padding:15px;
    border: 10px solid #F00;
}

/* bonus part css end here */
/* holiday part start here */
.holiday_main{
    text-align: center;
    padding-bottom: 100px;
}
.holiday_main h5{
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}
.holiday_main h2{
    font-size: 72px;
    font-weight: 900;
    padding: 10px 0;
}
.holiday_main p{
    color: rgba(7, 2, 17, 0.60);
    width: 1055px;
    padding:15px 100px 10px 150px ;
}
/* holiday part end here */
/* portfolio css part start here */
.gift_title{
    font-size: 24px;
    font-weight: 500;
}
.primary_title{
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    padding: 15px 0px 20px 0px;
}
.portfolio_main p{
    color: rgba(7, 2, 17, 0.60);
    width: 750px;
    padding-bottom: 100px;
}
.portfolio_item_main{
    display: flex;
    justify-content: space-between;
}
.items img{
    width: 420px;
    height: 450px;
    padding-bottom: 10px;
   
}
/* portfolio css part end here */

/* subcription css part start here */

.Subcription_main{
    text-align: center;
    background:rgba(255, 0, 0, 0.05);
    margin: 100px 0px; 
}
.sub_letter{
    padding-top: 80px;
}
#sub_des {
    color: rgba(7, 2, 17, 0.60);
    width: 870px;
    padding: 15px 212px 61px 154px;
}
.btn_sub{
    padding: 22px 50px;
    border: none;
    border-radius: 100px;
    background-color: #F00;
    color: white;
    font-size: 20px;
    font-weight: 600px;

}
/* subcription css part end here */