/* common css which is need all section in this webpage start here */
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.title_primary{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.common_clr{
    color: #F00;
}

/* common css which is need all section in this webpage end here */

/* banner css part start here */
.banner{
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 170px 0px;
}

.banner_head{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
/* banner css part end here */

/* all categories css start here */
.category{
    margin: 50px 0px;
}
.category, .category_title{
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}
.category p{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    padding-top: 20px;
}
.category_title{
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}
.category_img{
    padding: 30px 0px 120px 0px;
}
.category_img img{
    width: 800px;
}
/* all categories css end here */

/* midnight party section css start here */
.mid_night_img{
    background-image: url(../images/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.mid_party_title{
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    padding: 125px 500px 24px 125px;
}
.mid_party_description{
    width: 650px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    padding-left: 125px;
}
.btn_primary{
    color:white;
    background-color:#F00;
    margin:45px 0px 13px 125px ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}



/* midnight party section css end here */